/* page index.html */
@media (max-width: 1431px) {
  .interior {
    &__img {
      max-width: 334px;
    }
    &__photo-one {
      margin-top: -20px;
    }
    &__photo-two {
      margin-left: 43px;
      margin-top: -56.25px;
    }
    &__photo-four {
      margin-left: 43px;
      margin-top: -270px;
    }
  }
  .request__order {
    padding: 106px 40px 0px 131px;
  }
}

@media (max-width: 1400px) {
  .interior__column-gallery {
    margin-right: 30px;
  }
  .repair__inner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .request {
    &__order {
      padding-left: 70px;
      padding-right: 65px;
    }
    &__services {
      padding-left: 200px;
    }
  }
}

@media (max-width: 1370px) {
  .interior {
    margin-top: 131px;
    &__img {
      max-width: 284px;
    }
    &__photo-one {
      margin-top: 76px;
    }
    &__photo-two {
      margin-left: 43px;
      margin-top: 20px;
    }
    &__photo-four {
      margin-left: 43px;
      margin-top: -250px;
    }
  }
  .header__inner,
  .footer__inner {
    padding-left: 35px;
    padding-right: 35px;
  }
  .info__slider__images {
    max-width: 622px;
    max-height: 430px;
  }
  .review__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .control__inner {
    padding-left: 212px;
    padding-right: 212px;
  }
}

@media (max-width: 1350px) {
  .request__order {
    padding-right: 25px;
  }
  .info__slider__images {
    max-width: 552px;
    max-height: 360px;
  }
  .slider__title {
    margin-right: 35px;
  }
  .review__client+.review__client {
    margin-left: 34px;
  }
}

@media (max-width: 1325px) {
  .repair__type+.repair__type {
    margin-left: 18px;
  }
}

@media (max-width: 1270px) {
  .logo {
    margin-left: 25px;
    width: 180px;
  }
  .menu {
    margin-left: 70px;
    &__item+&__item {
      margin-left: 40px;
    }
  }
  .phone {
    margin-left: 37px;
  }
  .request__services {
    padding-left: 150px;
  }
  .slider__title {
    font-size: 14px;
  }
  .interior {
    &__column {
      padding: 137px 20px 97.5px 99px;
    }
    &__img {
      max-width: 234px;
    }
    &__photo-one {
      margin-top: 152px;
    }
    &__photo-two {
      margin-left: 43px;
      margin-top: 60px;
    }
    &__photo-four {
      margin-left: 43px;
      margin-top: -250px;
    }
  }
  .head-section__inner {
    padding: 194px 540px 208px 134px;
  }
  .info__inner {
    padding-left: 95px;
  }
}

@media (max-width: 1235px) {
  .repair {
    &__img {
      max-width: 322px;
    }
    &__info {
      width: 300px;
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  .review {
    &__client {
      max-width: 356px;
      max-height: 408px;
    }
    &__btn {
      margin-top: 30px;
    }
  }
}

@media (max-width: 1205px) {
  .menu {
    margin-left: 60px;
    &__item+&__item {
      margin-left: 30px;
    }
  }
  .request__order {
    padding-right: 0px;
    padding-left: 15px;
  }
  .phone {
    margin-left: 0;
    margin-right: 20px;
  }
  .main__btn {
    margin-left: 25px;
  }
  .request__order {
    padding-right: 15px;
    padding-left: 35px;
  }
  .interior__column {
    margin-right: 17px;
  }
  .info__slider {
    &__images {
      max-width: 492px;
      max-height: 300px;
    }
    &__titles {
      flex-direction: column;
      height: 115px;
    }
  }
  .slider__title+.slider__title {
    margin-right: 0;
    margin-top: 20px;
  }
  .slider__title:first-child {
    margin-top: 0;
  }
  .head-section {
    &__title {
      font-size: 34px;
      width: 500px;
    }
    &__text {
      font-size: 16px;
    }
    &__inner {
      padding-right: 250px;
    }
  }
}

@media (max-width: 1195px) {
  .info__inner {
    padding-left: 65px;
  }
}

@media (max-width: 1175px) {
  .review__client+.review__client {
    margin-left: 20px;
  }
  .contacts {
    &__map-image {
      width: 825px;
    }
    &__question {
      width: 753px;
      padding-left: 91px;
      padding-right: 91px;
    }
  }
}

@media (max-width: 1175px) {
  .request {
    &__box {
      width: 406px;
    }
    &__btn {
      margin-left: 0px;
    }
  }
}

@media (max-width: 1120px) {
  .menu {
    display: none;
  }
  .header__inner,
  .footer__inner {
    display: flex;
    justify-content: space-between;
  }
  .phone {
    margin: 0;
    padding: 23px 18px 23px 0px;
    &-link {
      color: #FFFFFF;
    }
  }
  .review {
    &__box {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__client {
      max-width: 376px;
      max-height: 428px;
    }
    &__client:nth-child(3) {
      margin-top: 60px;
      margin-left: 0px;
    }
    &__btn {
      margin-top: 50px;
    }
  }
  .repair {
    &__types {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__img {
      max-width: 340px;
    }
    &__type {
      height: 484px;
      max-width: 340px;
    }
    &__info {
      width: 270px;
      margin-left: 0px;
      margin-right: 70px;
    }
    &__type:nth-child(3) {
      margin-top: 126px;
      margin-left: 0px;
    }
  }
}

@media (max-width: 1110px) {
  .interior__column {
    padding-right: 10px;
    padding-left: 59px;
  }
  .info__inner {
    padding-left: 45px;
  }
}

@media (max-width: 1080px) {
  .info {
    padding-bottom: 350px;
    &__title-text {
      margin-top: 36px;
    }
    &__inner {
      padding-right: 45px;
      flex-direction: column;
      align-items: center;
    }
    &__slider-dots,
    &__slider__titles,
    &__title-line,
    &__arrow-pc {
      display: none;
    }
    &__title {
      justify-content: center;
    }
    &__title-text,
    &__title-info {
      text-align: center;
    }
    &__arrow-mobile {
      width: 50px;
      height: 50px;
      top: 0px;
      display: block;
      z-index: 1;
    }
    &__slider__images {
      top: -250px;
      left: -25px;
    }
    &__feature {
      top: 350px;
      left: -25px;
    }
    &__slider-nav {
      position: absolute;
      margin-top: -108px;
      margin-left: 125px;
    }
    &__slider-arrow:last-of-type {
      margin-left: 310px;
    }
  }
  .control {
    padding-bottom: 67px;
    background-color: $color-background-black;
    &__inner {
      padding-left: 17px;
      padding-right: 17px;
    }
    &__level-video {
      max-width: 452px;
    }
    &__level-overlay-image {
      max-width: 452px;
      height: 241px;
    }
    &__level-go {
      width: 75px;
      height: 75px;
      object-fit: cover;
      top: 83px;
      left: 189px;
    }
    &__level-text {
      color: #FFFFFF;
      font-size: 16px;
    }
    &__level-box {
      flex-direction: column;
    }
    &__level-form {
      width: 340px;
    }
    &__level-form+&__level-form {
      margin-left: 0px;
      margin-top: 63px;
    }
    &__level-btn {
      width: 340px;
      margin: 0px;
      position: relative;
      top: 112px;
    }
    &__level-line {
      background: none;
      width: 340px;
      border: none;
      border-bottom: 1px solid rgba(54, 54, 54, 0.3);
      color: #363636;
      padding-bottom: 8px;
      margin-top: -2px;
    }
    &__level-marker {
      color: rgba(255, 255, 255, 0.5);
    }
    &__level-line::placeholder {
      color: #FFFFFF;
    }
    &__checkbox {
      margin: 0px;
      color: #FFFFFF;
      z-index: 1;
      position: relative;
      top: -17px;
      left: -24px;
    }
  }
  .interior {
    &__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__column {
      padding: 20px 17px 54px 17px;
    }
    &__list {
      display: none;
      align-self: center;
    }
    &__title {
      width: 340px;
      margin-right: auto;
      margin-left: auto;
    }
    &__column-gallery {
      padding-right: 17px;
      padding-left: 17px;
      margin-left: 30px;
    }
    &__photo-one,
    &__photo-two {
      margin-top: 0px;
    }
    &__photo-four {
      margin-top: -141px;
    }
    &__photo-one::before,
    &__photo-one::after {
      content: "";
      background-image: url("../images/arrow-mobile.svg");
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
      top: 450px;
      position: absolute;
      z-index: 1;
    }
    &__photo-one::before {
      left: 150px;
    }
    &__photo-one::after {
      right: 150px;
      transform: rotate(180deg);
    }
  }
  .review__inner {
    padding-bottom: 200px;
  }
  .contacts {
    background-image: none;
    background-color: $color-background-black;
    &__inner {
      padding-left: 18px;
      padding-right: 18px;
    }
    &__map-image {
      width: 452px;
      position: relative;
      top: -165px;
    }
    &__question {
      margin-top: 173px;
      padding-left: 0;
      padding-right: 0;
      width: 340px;
      height: 565px;
    }
    &__box-form {
      flex-direction: column;
    }
    &__form,
    &__form-line {
      width: 340px;
    }
    &__form-line {
      border-color: #FFFFFF;
    }
    &__form-third {
      width: 516px;
    }
    &__form+&__form {
      margin-left: 0px;
      margin-top: 63px;
    }
    &__checkbox {
      text-align: start;
      margin-top: 24px;
    }
    &__btn {
      margin: 67px 0px 0px 0px;
      width: 340px;
    }
    &__address,
    &__social-media {
      position: relative;
    }
  }
  .request {
    display: none;
  }
}

@media (max-width: 1020px) {
  .main__btn {
    display: none;
  }
  .interior {
    &__photo-one::before {
      left: 90px;
    }
    &__photo-one::after {
      right: 90px;
    }
  }
  .contacts__map {
    width: 700px;
  }
}

@media (max-width: 910px) {
  .repair {
    &__types {
      flex-direction: column;
    }
    &__type+&__type {
      margin-top: 126px;
      margin-left: 0px;
    }
  }
  .review {
    &__box {
      flex-direction: column;
    }
    &__client+&__client {
      margin-top: 60px;
      margin-left: 0px;
    }
  }
  .head-section {
    &__btn {
      width: 338px;
    }
    &__btn-solid {
      margin-top: 26px;
      margin-left: 0px;
    }
  }
  .control {
    &__level-two {
      margin-top: 28px;
    }
    &__level-text {
      font-size: 11px;
      max-width: 340px;
      line-height: 169.8%;
      margin-top: 21.5px;
    }
  }
  .interior {
    &__photo-one::before {
      left: 50px;
    }
    &__photo-one::after {
      right: 50px;
    }
  }
  .header__inner,
  .logo,
  .phone {
    height: 57px;
  }
  .logo {
    margin: 0;
    padding: 23px 0px 23px 18px;
  }
}

@media (max-width: 800px) {
  .block-title {
    font-size: 22px;
  }
  .head-section {
    height: 476px;
    &__inner {
      padding-top: 85px;
      padding-bottom: 61px;
    }
    &__title {
      font-size: 23px;
      line-height: 132.83%;
      width: 339px;
    }
    &__text {
      font-size: 14px;
      line-height: 135.84%;
      width: 339px;
    }
  }
  .info {
    &__title-text {
      font-size: 22px;
      line-height: 138.6%;
      width: 220px;
    }
    &__title-info {
      font-size: 11px;
      line-height: 158.48%;
      max-width: 311px;
      margin: 0 auto 70px;
    }
    &__title-info br {
      display: none;
    }
    &__card-title {
      font-size: 14px;
      line-height: 138.6%;
    }
    &__card-text,
    &__card-text-active {
      font-size: 11px;
      line-height: 135.84%;
    }
    &__slider__images {
      max-width: 402px;
      max-height: 260px;
      left: 0px;
    }
    &__slider-nav {
      margin-top: -127px;
      margin-left: 120px;
    }
    &__slider-arrow:last-of-type {
      margin-left: 240px;
    }
    &__slider {
      margin-left: 0px;
    }
    &__feature {
      grid-template-columns: 106px 153px;
      left: 0;
      width: 342px;
      margin-left: 25px;
    }
  }
  .review {
    display: none;
  }
  .interior {
    margin-top: 75px;
    &__inner {
      background-image: none;
      background-color: #FFFFFF;
      height: 253px;
    }
    &__overlay {
      display: none;
    }
    &__photo-one::before {
      top: 0px;
      left: 13px;
      position: relative;
    }
    &__photo-one::after {
      position: relative;
      top: 0px;
      right: 13px;
    }
    &__photo-one .interior__img {
      display: none;
    }
    &__photo-one {
      width: 340px;
      height: 205px;
      background: url("../images/Background 02.jpg") no-repeat;
      background-size: contain;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__photo-two,
    &__photo-three,
    &__photo-four {
      display: none;
    }
    &__title {
      font-size: 22px;
      max-width: 280px;
      text-align: center;
    }
    &__column {
      max-width: 340px;
      padding-left: 0;
      padding-right: 0;
      align-items: center;
    }
  }
  .repair {
    margin-top: 85px;
    margin-bottom: 0px;
    &__type+&__type {
      margin-top: 80px;
    }
    &__info {
      width: 270px;
      height: 241px;
    }
    &__title {
      font-size: 15px;
    }
    &__item {
      line-height: 169.8%;
      margin-top: -2px;
    }
    &__btn {
      width: 190px;
      height: 40px;
      font-size: 15px;
      padding: 9px 2px;
      margin-top: 20px;
    }
  }
  .control {
    &__level-video {
      max-width: 340px;
    }
    &__level-overlay-image {
      max-width: 340px;
      height: 181px;
    }
    &__level-go {
      width: 60px;
      height: 60px;
      object-fit: cover;
      top: 60px;
      left: 140px;
    }
  }
  .review {
    display: none;
  }
  .contacts {
    &__address {
      font-size: 18px;
    }
    &__address {
      font-size: 18px;
      line-height: 138.6%;
      width: 309px;
    }
    &__map-image {
      width: 340px;
      margin-top: -50px;
    }
    &__inner {
      padding-bottom: 45px;
    }
    &__map {
      width: 540px;
    }
  }
}

@media (max-width: 600px) {
  .header__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .head-section__inner {
    padding-left: 38px;
    padding-right: 18px;
  }
  .info {
    &__slider__images {
      max-width: 340px;
      max-height: 242px;
    }
    &__slider-nav {
      margin-top: -137px;
      margin-left: 120px;
    }
    &__arrow-mobile {
      width: 36px;
      height: 36px;
    }
    &__slider-arrow:last-of-type {
      margin-left: 212px;
    }
    &__feature {
      top: 310px;
      margin-left: 54px;
      width: 342px;
    }
  }
  .contacts__map {
    width: 440px;
  }
}

@media (max-width: 470px) {
  .head-section__inner {
    padding-left: 8px;
  }
  .info {
    &__slider-descrip {
      width: 322px;
    }
    &__slider-nav {
      margin-left: 84px;
    }
    &__slider__images {
      max-width: 310px;
    }
    &__feature {
      grid-template-columns: 100px 140px;
      margin-left: 25px;
    }
  }
  .contacts__map {
    width: 360px;
  }
  .contacts__question, 
  .contacts__btn {
    width: 280px;
  }
  .header__inner,
  .footer__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .interior__photo-one,
  .control__level-btn,
  .control__level-text {
    width: 300px;
  }
  .contacts__address {
    font-size: 14px;
    width: 270px;
  }
}

@media (max-width: 380px) {
  .head-section {
    &__inner {
      padding-left: 0px;
    }
    &__title {
      width: 240px;
    }
    &__text {
      width: 180px;
    }
    &__btn {
      width: 270px;
      margin-top: 20px;
    }
  }
  .contacts__map {
    width: 300px;
  }
  .interior__column-gallery {
    padding-right: 0px; 
    padding-left: 0px;
  }
  .info__feature {
    grid-template-columns: 100px 110px;
  }
  .repair__inner {
    padding-left: 0px; 
    padding-right: 0px;
  }
}

@media (max-width: 320px) {
  .contacts__map {
    width: 280px;
  }
}