@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

body {
  font-family: $base-font;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.header {
  background: $color-background-black;
  &__inner {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
  }
}

.footer {
  background: $color-background-black;
  &__inner {
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
}

.logo {
  width: 180px;
  height: 10px;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-gold;
  margin: 36px 0 36px 0px;
}

.menu {
  margin: 36px 0 36px 95px;
  width: 581px;

  &__list {
    display: flex;
  }

  &__item+&__item {
    margin-left: 47px;
  }

  &__link {
    color: inherit;
    font-size: 11px;
    line-height: 15px;
    @extend %transition-title;
  }

  &__link:hover {
    color: $color-gold;
  }
}

.phone {
  margin: 37px 0px 30px 67px;
  width: 126px;

  &-link {
    color: $color-gold;
    text-align: right;
    text-decoration-line: underline;
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;
  }
}

.main__btn {
  width: 161px;
  height: 37px;
  border-radius: 2px;
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  margin: 24px 0px 22px 45px;
  padding: 13px 0;
  @extend %btn-model;
}

.head-section {
  background-image: url(../images/main-photo.jpg);
  height: 707px;
  position: relative;

  &-overlay {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  &__inner-overlay {
    position: relative;
    z-index: 1;
  }

  &__inner {
    padding: 194px 630px 208px 134px;
  }

  &__title {
    font-family: $title-font;
    font-size: 40px;
    line-height: 53px;
    width: 600px;
    text-transform: uppercase;
  }

  &__span {
    color: $color-gold;
  }

  &__text {
    margin-top: 19px;
    font-size: 22px;
    line-height: 36px;
    width: 514px;
  }

  &__btn {
    margin-top: 41px;
    width: 207px;
    height: 51px;
    border-radius: 2px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    padding: 19px 22px;
    @extend %btn-model
  }

  &__btn-solid {
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
}