@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

body {
  font-family: $base-font;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.block-title {
  font-family: $title-font;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.camera {
  margin-left: 9.5px;
  margin-right: 7.7px;
}

.symbol {
  width: 114px;
  height: 28px;
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.header {
  background: $color-background-black;
  &__inner {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
  }
}

.footer {
  background: $color-background-black;
  &__inner {
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
}

.logo {
  width: 180px;
  height: 10px;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-gold;
  margin: 36px 0 36px 0px;
}

.menu {
  margin: 36px 0 36px 95px;
  width: 581px;
  &__list {
    display: flex;
  }
  &__item+&__item {
    margin-left: 47px;
  }
  &__link {
    color: inherit;
    font-size: 11px;
    line-height: 15px;
    @extend %transition-title;
  }
  &__link:hover {
    color: $color-gold;
  }
}

.phone {
  margin: 37px 0px 30px 67px;
  width: 126px;
  &-link {
    color: $color-gold;
    text-align: right;
    text-decoration-line: underline;
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;
  }
}

.main__btn {
  width: 161px;
  height: 37px;
  border-radius: 2px;
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  margin: 24px 0px 22px 45px;
  padding: 13px 0;
  @extend %btn-model;
}

.head-section {
  background-image: url(../images/main-photo.jpg);
  height: 707px;
  position: relative;
  &-overlay {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  &__inner-overlay {
    position: relative;
    z-index: 1;
  }
  &__inner {
    padding: 194px 630px 208px 134px;
  }
  &__title {
    font-family: $title-font;
    font-size: 40px;
    line-height: 53px;
    width: 600px;
    text-transform: uppercase;
  }
  &__span {
    color: $color-gold;
  }
  &__text {
    margin-top: 19px;
    font-size: 22px;
    line-height: 36px;
    width: 514px;
  }
  &__btn {
    margin-top: 41px;
    width: 207px;
    height: 51px;
    border-radius: 2px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    padding: 19px 22px;
    @extend %btn-model
  }
  &__btn-solid {
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
}

.info {
  background-color: $color-background-black;
  padding-bottom: 414px;
  &__inner {
    display: flex;
    padding-left: 134px;
    padding-right: 140px;
  }
  &__slider-descrip {
    width: 442px;
    position: relative;
  }
}

.info__title {
  display: flex;
  align-items: center;
  &-text {
    font-size: 27px;
    line-height: 37.42px;
    margin-top: 176.36px;
    margin-bottom: 34px;
    color: $color-gold;
    font-family: $title-font;
    text-transform: uppercase;
  }
  &-line {
    position: absolute;
    color: $color-gold;
    left: 161px;
    top: 228px;
  }
  &-info {
    font-size: 14px;
    line-height: 36.73px;
    margin-bottom: 42px;
    width: 442px;
  }
}

.info {
  &__feature {
    display: grid;
    grid-template-columns: 156px 213px;
    grid-template-rows: 73px 73px;
    gap: 34px;
    margin-bottom: 79.64px;
    position: relative;
  }
  &__card-title {
    font-size: 18px;
    line-height: 24.95px;
    margin-bottom: 9px;
    color: $color-gold;
    font-family: $title-font;
    text-transform: uppercase;
  }
  &__card-text {
    font-size: 13px;
    line-height: 21.28px;
    position: absolute;
    opacity: 0;
  }
  &__card-text.active {
    opacity: 1;
  }
  &__card-text-active {
    width: 161px;
    height: 42px;
    opacity: 1;
    font-size: 13px;
    line-height: 21.28px;
    color: inherit;
  }
}

.info__arrow-mobile {
  display: none;
}

.info__slider {
  margin-left: 55px;
  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205.68px;
    height: 13.28px;
  }
  &-arrow {
    margin: 0 29.5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &-arrow:last-of-type {
    margin: 0 0 0 29.5px;
  }
  &-dots {
    width: 63.78px;
    height: 10.5px;
    display: flex;
    flex-wrap: nowrap;
  }
  &__dot-item {
    margin: 0 17.54px 0 0;
    background: url(../images/dots_nonactive.svg);
    width: 9.57px;
    height: 10.4px;
    cursor: pointer;
  }
  &__dot-item.active {
    background: url(../images/dots_active.svg);
    width: 9.57px;
    height: 10.5px;
    margin: 0 17.54px 0 0;
  }
  &__dot-item:hover {
    background: url(../images/dots_active.svg);
  }
  &__dot-item:last-child {
    margin: 0;
  }
}

.info__slider__titles {
  margin-top: 107px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 45.36px;
  height: 25px;
}

.slider {
  width: 679px;
  margin: 0 0 0 50px;
  &__title {
    font-size: 14px;
    line-height: 19.4px;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 60.5px;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $title-font;
    @extend %transition-title;
  }
  &__title:hover {
    color: $color-gold;
    padding-bottom: 6.68px;
    border-bottom: 1px solid $color-gold;
  }
  &__title:last-child {
    margin: 0;
  }
  &__title.active {
    color: $color-gold;
    padding-bottom: 6.68px;
    border-bottom: 1px solid $color-gold;
  }
}

.info__slider__images {
  width: 679px;
  height: 482.38px;
  position: relative;
}

.info__slider__images .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 800ms ease;
}

.info__slider__images .image.active {
  opacity: 1;
}

.control {
  margin-top: -324px;
  &__inner {
    padding-left: 312px;
    padding-right: 312px;
  }
  &__level {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-video {
      position: relative;
    }
    &-go {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
    &-overlay-image {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.8);
      height: 434px;
    }
    &-overlay {
      width: 820px;
      height: 434px;
      position: relative;
      margin-top: 31px;
    }
    &-two {
      margin-top: 62.5px;
    }
    &-text {
      margin-top: 34.5px;
      font-size: 18px;
      line-height: 37px;
      text-align: center;
      color: $color-text-grey;
      width: 681px;
    }
    &-box {
      display: flex;
    }
    &-form+&-form {
      margin-left: 60px;
    }
    &-marker {
      display: block;
      font-size: 13px;
      line-height: 21px;
      color: rgba(54, 54, 54, 0.5);
      transform: rotate(-0.07deg);
    }
    &-form {
      width: 231px;
      height: 45px;
      flex-direction: column;
    }
    &-line {
      border: none;
      border-bottom: 1px solid rgba(54, 54, 54, 0.3);
      font-size: 14px;
      line-height: 23px;
      color: $color-text-grey;
      width: 231px;
      padding-bottom: 8px;
      margin-top: -2px;
    }
    &-line::placeholder {
      color: $color-text-grey;
      line-height: 23px;
    }
    &-btn {
      @extend %btn-model;
      width: 200px;
      height: 51px;
      box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
      border-radius: 2px;
      font-size: 13px;
      line-height: 27px;
      margin-left: 49px;
    }
    &-three {
      margin-top: 91.5px;
    }
    &-form-text {
      line-height: 163.68%;
      color: $color-text-black;
    }
  }
  &__checkbox {
    @extend %checkbox-model;
    margin-top: 33px;
    color: $color-text-black;
  }
}

.repair {
  margin-top: 148px;
  margin-bottom: 151px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 102px;
    padding-right: 102px;
  }
  &__title-black {
    color: #181818;
  }
  &__types {
    margin-top: 31px;
    display: flex;
  }
  &__type+&__type {
    margin-left: 30px;
  }
  &__info {
    width: 330px;
    height: 286px;
    padding: 25px 29px 49px 31px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    background: #FFFFFF;
    margin-top: -187px;
    position: relative;
    top: 50px;
    margin-left: 31px;
    margin-right: 31px;
  }
  &__title {
    font-family: $title-font;
    font-size: 18px;
    line-height: 25px;
    color: $color-text-grey;
  }
  &__list {
    margin-top: 10px;
    font-size: 13px;
    line-height: 27px;
  }
  &__item {
    color: $color-text-grey-light;
    margin-left: 10px;
  }
  &__item::before {
    content: "•";
    position: relative;
    left: -7px;
  }
  &__btn {
    @extend %btn-model;
    font-family: $title-font;
    font-size: 18px;
    line-height: 25px;
    box-shadow: 5px 5px 10px;
    width: 228px;
    height: 54px;
    padding: 17px 16px;
    margin-top: 15px;
    margin-left: -31px;
  }
}

.request {
  &__inner {
    display: flex;
  }
  &__services {
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    padding: 117px 71px 54px 249px;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 385px;
    margin-left: -22px;
    margin-top: -17px;
  }
  &__text {
    color: $color-text-grey;
    margin-left: -8px;
    margin-top: -2px;
  }
  &__item+&__item {
    margin-top: 56px;
  }
  &__order {
    max-width: 737px;
    padding: 106px 100px 0px 131px;
  }
  &__box {
    width: 506px;
    height: 509px;
    background: $color-background-black;
    padding: 28px 49px;
  }
  &__title {
    width: 297px;
    height: 47px;
    font-size: 18px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__form {
    margin-top: 39px;
    &-marker {
      display: block;
      font-size: 13px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.5);
    }
    &-line {
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      background: none;
      font-size: 14px;
      line-height: 23px;
      width: 408px;
      padding-bottom: 3px;
      color: #FFFFFF;
    }
    &-line::placeholder {
      color: inherit;
      line-height: 23px;
    }
  }
  &__form+&__form {
    margin-top: 48px;
  }
  &__checkbox {
    @extend %checkbox-model;
    margin-top: 16px;
  }
  &__btn {
    @extend %btn-model;
    margin-top: 39px;
    width: 213px;
    height: 51px;
    font-size: 13px;
    line-height: 21px;
    border-radius: 0px;
    margin-left: 195px;
  }
  &__help {
    display: flex;
    align-items: center;
    margin-top: 38px;
    &-text {
      margin-left: 5px;
      margin-top: -12px;
      font-size: 18px;
      line-height: 26px;
      color: $color-gold;
      text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    }
  }
}

.interior {
  margin-top: 243px;
  &__inner {
    display: flex;
    background-image: url(../images/Background\ 02.jpg);
    background-repeat: no-repeat;
    position: relative;
    height: 864px;
  }
  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
  }
  &__inner-overlay {
    position: relative;
  }
  &__column {
    width: 587px;
    padding: 137px 77px 97.5px 99px;
    z-index: 1;
  }
  &__title {
    font-family: $title-font;
    color: $color-gold;
    font-size: 27px;
    line-height: 37px;
    width: 411px;
    text-transform: uppercase;
  }
  &__list {
    margin-top: 47px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 38px;
  }
  &__item+&__item {
    margin-top: 16px;
  }
  &__link {
    color: #FFFFFF;
    @extend %transition-title;
  }
  &__link:hover {
    color: $color-gold;
  }
  &__stroke {
    visibility: hidden;
    margin-top: -7px;
    @extend %transition-stroke;
  }
  &__link:hover+&__stroke {
    visibility: visible;
  }
  &__column-gallery {
    max-width: 930px;
    margin-right: 102px;
    z-index: 1;
  }
  &__gallery {
    display: flex;
  }
  &__photo-one {
    margin-top: -40px;
  }
  &__photo-two {
    margin-left: 43px;
    margin-top: -112.5px;
  }
  &__photo-three {
    margin-top: 40px;
  }
  &__photo-four {
    margin-left: 43px;
    margin-top: -322px;
  }
  &__img {
    max-width: 354px;
  }
}

.review {
  margin-top: 110px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 102px 371px 102px;
    background-image: url(../images/Background-town.svg);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  &__title-black {
    color: $color-text-black;
  }
  &__text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: $color-text-grey;
  }
  &__box {
    margin-top: 39px;
    display: flex;
    flex-direction: row;
  }
  &__client+&__client {
    margin-left: 54px;
  }
  &__client {
    max-width: 376px;
    max-height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding-left: 20px;
    padding-right: 32px;
    padding: 24px 32px 0px 20px;
    &-info {
      display: flex;
    }
    &-name {
      width: 178px;
      font-family: $title-font;
      font-size: 18px;
      line-height: 23px;
      color: $color-text-black;
      align-self: center;
      margin-left: 22px;
    }
    &-text {
      width: 324.08px;
      margin-top: 22px;
      color: $color-text-grey-light;
      font-size: 13px;
      line-height: 180%;
    }
    &-text+&-text {
      margin-top: 5px;
    }
  }
  &__btn {
    @extend %btn-model;
    margin-top: 50px;
    position: relative;
    bottom: 9px;
    left: -20px;
    width: 293.75px;
    height: 54px;
    padding: 11px 0px;
    display: flex;
    align-items: center;
    font-family: $title-font;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    &-icon {
      margin-left: 17px;
    }
    &-text {
      margin-left: 15px;
    }
    &-line {
      margin-left: 17px;
    }
  }
}

.contacts {
  background-image: url(../images/Background\ 03.jpg);
  background-repeat: no-repeat;
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 256px 66px 256px;
  }
  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
  }
  &__inner-overlay {
    position: relative;
    z-index: 1;
  }
  &__question {
    margin-top: -240px;
    background: $color-text-black;
    width: 884px;
    height: 445px;
    padding: 34px 182px;
  }
  &__box-form {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__form {
    max-width: 231px;
    height: 45px;
    display: flex;
    flex-direction: column;
    &-line {
      background: none;
      border: none;
      border-bottom: 1px solid rgba(54, 54, 54, 0.3);
      font-size: 14px;
      line-height: 23px;
      color: $color-text-grey;
      width: 231px;
      padding-bottom: 8px;
      margin-top: -2px;
    }
    &-marker {
      display: block;
      font-size: 13px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.5);
    }
    &-line::placeholder {
      line-height: 23px;
      color: #FFFFFF;
    }
    &-third-line {
      max-width: 517px;
    }
  }
  &__form:nth-child(2) {
    margin-left: 58px;
  }
  &__form-third {
    width: 517px;
    margin-top: 48.7px;
  }
  &__form-third-line {
    width: 517px;
  }
  &__checkbox {
    @extend %checkbox-model;
    text-align: center;
    margin-top: 47px;
  }
  &__btn {
    @extend %btn-model;
    margin-top: 50px;
    width: 200px;
    height: 51px;
    font-size: 13px;
    line-height: 27px;
    margin-left: 161px;
    margin-right: 161px;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  }
  &__address {
    font-family: $title-font;
    width: 589px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $color-gold;
    margin-top: 52px;
  }
  &__social-media {
    display: flex;
    margin-top: 26px;
    &-link+&-link {
      margin-left: 15px;
    }
  }
  &__map {
    width: 884px;
    margin-top: 43px;
  }
}

@import 'media';